.success_inner_box {
	padding:12px 76px
}
.icon28_msgsender {
	background:transparent url(/mpres/htmledition/images/icon28_msgsender1e5b3a.png) no-repeat 0 0;
	width:28px;
	height:28px;
	vertical-align:middle;
	display:inline-block
}
.icon28_msgsender.text {
	background-position:0 -8px
}
.icon28_msgsender.vioces {
	background-position:0 -46px
}
.icon28_msgsender.img {
	background-position:0 -86px
}
.icon28_msgsender.video {
	background-position:0 -125px
}
.icon28_msgsender.image-text {
	background-position:0 -204px
}
.icon28_msgsender.card {
	background-position:0 -243px
}
.icon28_msgsender.goods {
	background-position:0 -320px
}
.test {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/icon/icon_z.png") 0 0 no-repeat;
	width:28px;
	height:28px;
	vertical-align:middle;
	display:inline-block
}
.icon16_page_msg {
	background:transparent url(/mpres/htmledition/images/icon16_page_msg1e5b3a.png) no-repeat 0 0;
	width:16px;
	height:16px;
	vertical-align:middle;
	display:inline-block
}
.icon16_page_msg.success {
	background-position:0 0
}
.icon16_page_msg.waiting {
	background-position:-16px 0
}
.icon12_opr {
	background:transparent url(/mpres/htmledition/images/icon12_opr1e5b3a.png) no-repeat 0 0;
	width:12px;
	height:12px;
	vertical-align:middle;
	display:inline-block
}
.icon12_opr.close {
	background-position:0 0
}
.icon12_opr.hover.close,.icon12_opr:hover.close {
	background-position:-12px 0
}
.icon32_desc {
	background:transparent url(/mpres/htmledition/images/icon32_desc1e5b3a.png) no-repeat 0 0;
	width:32px;
	height:35px;
	vertical-align:middle;
	display:inline-block
}
.icon32_desc.IDCard {
	background-position:-36px 4px
}
.icon32_desc.IDCard.select {
	background-position:0 4px
}
.icon32_desc.tel {
	background-position:-36px -32px
}
.icon32_desc.tel.select {
	background-position:0 -32px
}
.icon32_desc.email {
	background-position:-36px -68px
}
.icon32_desc.email.select {
	background-position:0 -68px
}
.icon16_opr {
	background:transparent url(/mpres/htmledition/images/icon16_opr1e5b3a.png) no-repeat 0 0;
	width:16px;
	height:16px;
	vertical-align:middle;
	display:inline-block
}
.icon16_opr.toggle_left {
	background-position:0 0
}
.icon16_opr.toggle_down {
	background-position:0 -16px
}
.icon19_opr {
	background:transparent url(/mpres/htmledition/images/icon19_opr1e5b3a.png) no-repeat 0 0;
	width:19px;
	height:19px;
	vertical-align:middle;
	display:inline-block
}
.icon19_opr.toggle_show {
	background-position:0 0
}
.icon19_opr.toggle_hide {
	background-position:0 -20px
}
.icon19_opr.toggle_hide_select {
	background-position:0 -40px
}
.icon32_status {
	background:transparent url(/mpres/htmledition/images/icon32_status1e5b3a.png) no-repeat 0 0;
	width:32px;
	height:32px;
	vertical-align:middle;
	display:inline-block
}
.icon32_status.light {
	background-position:0 0
}
.icon32_status.light.on {
	background-position:0 -32px
}
.icon32_status.tick {
	background-position:0 -64px
}
.icon32_status.tick.on {
	background-position:0 -96px
}
.icon_verify {
	background:transparent url(/mpres/htmledition/images/icon_verify1e5b3a.png) no-repeat 0 0;
	width:82px;
	height:30px;
	vertical-align:middle;
	display:inline-block
}
.icon_verify.verifying {
	background-position:0 0
}
.icon_verify.verifysucc {
	background-position:0 0
}
.icon_verify.verifyfail {
	background-position:0 -30px
}
.icon39-step-status {
	background:transparent url(/mpres/htmledition/images/icon39-step-status1e5b3a.png) no-repeat 0 0;
	width:39px;
	height:39px;
	vertical-align:middle;
	display:inline-block
}
.icon39-step-status.step1 {
	background-position:0 0
}
.icon39-step-status.step2 {
	background-position:-39px 0
}
.icon39-step-status.step3 {
	background-position:-78px 0
}
.icon39-step-status.step4 {
	background-position:-116px 0
}
.icon39-step-status.finish {
	background-position:-155px 0
}
.icon39-step-status.waiting {
	background-position:-194px 0
}
.icon23-status {
	background:transparent url(/mpres/htmledition/images/icon23-status1e5b3a.png) no-repeat 0 0;
	width:23px;
	height:23px;
	vertical-align:middle;
	display:inline-block
}
.icon23-status.succ {
	background-position:0 0
}
.icon23-status.fail {
	background-position:-23px 0
}
.icon23-status.stop {
	background-position:-46px 0
}
.icon55-user-kind {
	background:transparent url(/mpres/htmledition/images/icon55-user-kind1e5b3a.png) no-repeat 0 0;
	width:55px;
	height:20px;
	vertical-align:middle;
	display:inline-block
}
.icon55-user-kind.enterprise {
	background-position:0 0
}
.icon55-user-kind.subscribe {
	background-position:0 -21px
}
.icon11-folder-opr {
	background:transparent url(/mpres/htmledition/images/icon11-folder-opr1e5b3a.png) no-repeat 0 0;
	width:11px;
	height:11px;
	vertical-align:middle;
	display:inline-block
}
.icon11-folder-opr.open {
	background-position:0 0
}
.icon11-folder-opr.close {
	background-position:-13px 0
}
.icon132-pay-reg {
	background:transparent url(/mpres/htmledition/images/icon132-pay-reg1e5b3a.png) no-repeat 0 0;
	width:132px;
	height:132px;
	vertical-align:middle;
	display:inline-block
}
.icon132-pay-reg.person {
	background-position:0 0
}
.icon132-pay-reg.person.on {
	background-position:-273px 0
}
.icon132-pay-reg.enterprise {
	background-position:-135px 0
}
.icon132-pay-reg.enterprise.on {
	background-position:-411px 0
}
.icon48 {
	background:transparent url(/mpres/htmledition/images/icon481e5b3a.png) no-repeat 0 0;
	width:48px;
	height:48px;
	vertical-align:middle;
	display:block
}
.icon18 {
	background:transparent url(/mpres/htmledition/images/icon181e5b3a.png) no-repeat 0 0;
	width:18px;
	height:18px;
	vertical-align:middle;
	display:inline-block
}
.icon28 {
	background:transparent url(/mpres/htmledition/images/icon281e5b3a.png) no-repeat 0 0;
	width:28px;
	height:28px;
	vertical-align:middle;
	display:block
}
.icon48C {
	background:transparent url(/mpres/htmledition/images/icon481e5b3a.png) no-repeat 0 0;
	padding-left:48px
}
.icon28C {
	background:transparent url(/mpres/htmledition/images/icon281e5b3a.png) no-repeat 0 0;
	padding-left:28px
}
.icon18C {
	background:transparent url(/mpres/htmledition/images/icon181e5b3a.png) no-repeat 0 0;
	padding-left:18px
}
.iconLoading {
	background:transparent url(/mpres/htmledition/images/w_loader1e5b3a.gif) no-repeat 0 0;
	width:30px;
	height:30px;
	vertical-align:middle;
	display:inline-block
}
.iconClose {
	background:transparent url(/mpres/htmledition/images/closeIcon1e5b3a.png) no-repeat 0 0;
	width:23px;
	height:24px;
	vertical-align:middle;
	display:block
}
.iconNew {
	background:transparent url(/mpres/htmledition/images/new.png) no-repeat 0 0;
	width:43px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
	margin-left:5px;
	vertical-align:top
}
.iconOK {
	background:transparent url(/mpres/htmledition/images/ok1e5b3a.gif) no-repeat 0 0;
	width:15px;
	height:15px;
	vertical-align:middle;
	display:block
}
.iconMsg {
	background-position:0 0
}
.iconUser {
	background-position:0 -58px
}
.iconFile {
	background-position:0 -116px
}
.iconSetting {
	background-position:0 -174px
}
.iconStar {
	background-position:0 2px
}
.iconStar:hover {
	background-position:-28px 2px
}
.iconUnstar {
	background-position:0 -26px
}
.iconUnstar:hover {
	background-position:-28px -26px
}
.iconSave {
	background-position:0 -54px
}
.iconSave:hover {
	background-position:-28px -54px
}
.iconReply {
	background-position:0 -455px
}
.iconReply:hover {
	background-position:-28px -455px
}
.iconAdd {
	background-position:0 -81px
}
.iconAddS {
	background-position:0 -112px
}
.iconEdit {
	background-position:0 -139px
}
.iconEdit:hover {
	background-position:-28px -139px
}
.selected .iconEdit {
	background-position:0 -337px
}
.selected .iconEdit:hover {
	background-position:0 -337px
}
.iconDownload {
	background-position:0 -166px
}
.iconDownload:hover {
	background-position:-28px -166px
}
.iconDel {

	background-position:0 -195px
}
.iconDel:hover {
	background-position:-28px -195px
}
.selected .iconDel {
	background-position:0 -368px
}
.selected .iconDel:hover {
	background-position:0 -368px
}
.iconSexBoy {
	background-position:0 -224px
}
.iconSexGirl {
	background-position:0 -252px
}
.iconEmotion {
	background-position:0 -306px
}
.iconPackup {
	background-position:0 -280px
}
.iconPackup:hover {
	background-position:-28px -280px
}
.iconArrow {
	background:transparent url(/mpres/htmledition/images/arrow1e5b3a.png) no-repeat 0 0;
	width:12px;
	height:15px;
	vertical-align:middle;
	display:inline-block
}
.iconAudio {
	background:transparent url(/mpres/htmledition/images/icon_voice_playing1e5b3a.gif) no-repeat 0 0;
	width:17px;
	height:21px;
	vertical-align:middle;
	display:inline-block
}
.iconVideo {
	background:transparent url(/mpres/htmledition/images/icon_video1e5b3a.png) no-repeat 0 0;
	width:36px;
	height:36px;
	vertical-align:middle;
	display:inline-block
}
.iconImgSelect {
	background-position:0 0
}
.iconVideoSelect {
	background-position:0 -38px
}
.iconVoiceSelect {
	background-position:0 -76px
}
.iconEditB {
	background-position:0 -337px
}
.iconDelB {
	background-position:0 -368px
}
.iconQues {
	background-position:0 -427px
}
.iconProtocol {
	background:transparent url(/mpres/htmledition/images/icon_mod_protocel1e5b3a.png) no-repeat 0 0;
	width:146px;
	height:146px;
	vertical-align:middle;
	display:block
}
.user-icon {
	background:transparent url(/mpres/htmledition/images/icon-user-tip1e5b3a.png) no-repeat 0 0;
	width:56px;
	height:56px;
	vertical-align:middle;
	display:inline-block
}
.user-icon .success-icon {
	background-position:0 -67px
}
.user-icon .waiting-icon {
	background-position:0 -136px
}
.user-icon .fail-icon {
	background-position:0 0
}
.user-icon .error-icon {
	background-position:0 -205px
}
.user-icon .email-icon {
	background-position:0 -272px
}
.user-icon.fail-icon {
	background-position:0 0
}
.user-icon.success-icon {
	background-position:0 -67px
}
.user-icon.waiting-icon {
	background-position:0 -136px
}
.user-icon.error-icon {
	background-position:0 -205px
}
.user-icon.email-icon {
	background-position:0 -272px
}
.msg_icon {
	background:transparent url(/mpres/htmledition/images/icon-user-tip-v11e5b3a.png) no-repeat 0 0;
	width:56px;
	height:56px;
	vertical-align:middle;
	display:inline-block
}
.msg_icon.error_icon {
	background-position:0 0
}
.msg_icon.success_icon {
	background-position:0 -67px
}
.msg_icon.waiting_icon {
	background-position:0 -136px
}
.msg_icon.fail_icon {
	background-position:0 -205px
}
.msg_icon.email_icon {
	background-position:0 -272px
}
.add_on_icon24 {
	background:transparent url(/mpres/htmledition/images/icon24_add_on1e5b3a.png) no-repeat 0 0;
	width:24px;
	height:24px;
	vertical-align:middle;
	display:inline-block
}
.add_on_icon24.success {
	background-position:0 0
}
.add_on_icon14 {
	background:transparent url(/mpres/htmledition/images/icon_success_blue1e5b3a.png) no-repeat 0 0;
	width:14px;
	height:14px;
	vertical-align:middle;
	display:inline-block
}
.add_on_icon14.success {
	background-position:0 0
}
.add_on_icon32 {
	background:transparent url(/mpres/htmledition/images/icon32_status1e5b3a.png) no-repeat 0 0;
	width:32px;
	height:32px;
	vertical-align:middle;
	display:inline-block
}
.add_on_icon32.success,.add_on_icon32.light {
	background-position:0 -32px
}
.add_on_icon50 {
	background:transparent url(/mpres/htmledition/images/icon50_status1e5b3a.png) no-repeat 0 0;
	width:50px;
	height:50px;
	vertical-align:middle;
	display:inline-block
}
.add_on_icon50.success {
	background-position:0 -50px
}
.icon-user {
	background:transparent url(/mpres/htmledition/images/new/icon_user1e5b3a.png) no-repeat 0 0;
	width:64px;
	height:64px;
	vertical-align:middle;
	display:inline-block
}
.icon-user.qq {
	background-position:-1px -4px
}
.icon-user.email {
	background-position:-1px -73px
}
.icon-switch {
	background:transparent url(/mpres/htmledition/images/new/icon_switch1e5b3a.png) no-repeat 0 0;
	width:22px;
	height:22px;
	vertical-align:middle;
	display:inline-block
}
.icon-switch.arrow-right {
	background-position:0 0
}
.icon20_tip {
	background:transparent url(/mpres/htmledition/images/icon20_tip1e5b3a.png) no-repeat 0 0;
	width:20px;
	height:20px;
	vertical-align:middle;
	display:inline-block
}
.icon20_tip.speaker {
	background-position:0 50%
}
.icon13_arrow_right_gray {
	background:url("/mpres/zh_CN/htmledition/comm_htmledition/style/icon/icon_z.png") 0 -366px no-repeat;
	width:13px;
	height:13px;
	vertical-align:middle;
	display:inline-block
}
